# Postgres
DB_NAME=your_db_name_here
DB_USERNAME=your_username_here
DB_PASSWORD=your_password_here
DB_PORT=your_db_port_here

# Kafka
# Для Docker: kafka:9092
# Для локального запуска: localhost:9092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093

# Сервисы (порты на хосте)
USER_SERVICE_PORT=8080
NOTIFICATION_SERVICE_PORT=8081